@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Poppins:wght@500&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  
  

}
p{
  font-family: 'Cormorant', serif;
}
h1{
  font-family: 'Poppins', sans-serif;
  
}

body{
  background-color: rgb(24, 23, 23);
  
}
.navbar-toggler{
  background-color: lightgrey;
}

.logo{
  width: 50px;
  height: auto;
}      

           